<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>Chat Trybot</title>
    <!-- {{url_for}} utilizado para importar um css estático -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
</head>

<body class="container">
    <!-- {{url_for}} utilizado para importar uma imagem estática -->
    <img src="{{ url_for('static', filename='images/logo.png') }}" width="40%">

    <form action="/" method="post">
        <p>Olá! Bom dia, como você se chama?</p>
        <div class="send-box">
            <input type="text" name="username">
          {% if username and greeting %}
              <p>Olá {{ username|capitalize|trim }}! {{ greeting }}!</p>
          {% endif %}
          <!-- Filtros no Jinja2 são funções que recebem um valor e retornam um novo valor. Eles são separados do valor por um caractere de pipe (|). No nosso caso, o filtro capitalize recebe o valor de username e retorna um novo valor com a primeira letra maiúscula. O filtro trim recebe o retorno do filtro capitalize e remove os espaços em branco do início e do fim da string. -->
            <button type="submit" id="chat">Entrar</button>
        </div>
    </form>
</body>
</html>